---
- name: Install and configure crictl
  hosts: all
  become: yes
  vars_files:
    - crictl-vars.yaml

  tasks:
    - name: Download crictl archive
      get_url:
        url: "https://github.com/kubernetes-sigs/cri-tools/releases/download/{{ crictl_version }}/crictl-{{ crictl_version }}-linux-amd64.tar.gz"
        dest: "/tmp/crictl-{{ crictl_version }}.tar.gz"
        mode: '0644'

    - name: Extract crictl binary
      unarchive:
        src: "/tmp/crictl-{{ crictl_version }}.tar.gz"
        dest: /usr/local/bin
        remote_src: yes

    - name: Create crictl config file
      copy:
        dest: /etc/crictl.yaml
        mode: '0644'
        content: |
          runtime-endpoint: unix:///run/containerd/containerd.sock
          image-endpoint: unix:///run/containerd/containerd.sock
          timeout: 10
          debug: false
