---
- name: Check if Calico is already installed
  command: kubectl get crd installations.operator.tigera.io
  register: calico_check
  failed_when: false
  changed_when: false
  environment:
    KUBECONFIG: /root/.kube/config

- name: Install Tigera operator (CRDs)
  shell: |
    kubectl get crd installations.operator.tigera.io >/dev/null 2>&1 || \
    kubectl create -f https://raw.githubusercontent.com/projectcalico/calico/{{ calico_version }}/manifests/tigera-operator.yaml
  environment:
    KUBECONFIG: /root/.kube/config
  when: calico_check.rc != 0

- name: Create Calico custom resources
  copy:
    dest: /root/custom-resources.yaml
    content: |
      apiVersion: operator.tigera.io/v1
      kind: Installation
      metadata:
        name: default
      spec:
        calicoNetwork:
          ipPools:
          - name: default-ipv4-ippool
            blockSize: 26
            cidr: {{ pod_subnet }}
            encapsulation: VXLANCrossSubnet
            natOutgoing: Enabled
            nodeSelector: all()
      ---
      apiVersion: operator.tigera.io/v1
      kind: APIServer
      metadata:
        name: default
      spec: {}
  environment:
    KUBECONFIG: /root/.kube/config
  when: calico_check.rc != 0

- name: Apply Calico custom resources
  command: kubectl apply -f /root/custom-resources.yaml
  environment:
    KUBECONFIG: /root/.kube/config
  when: calico_check.rc != 0
