---
- name: Get kubeadm join command
  hosts: control_plane
  become: yes
  tasks:
    - name: Generate join command
      command: kubeadm token create --print-join-command
      register: join_cmd
      changed_when: false

- name: Join worker nodes to cluster
  hosts: workers
  become: yes
  tasks:
    - name: Join cluster
      command: "{{ hostvars[groups['control_plane'][0]].join_cmd.stdout }}"
      args:
        creates: /etc/kubernetes/kubelet.conf
