---
- name: Get join command from control plane
  slurp:
    src: /tmp/kubeadm-join-command.txt
  register: join_cmd_file
  delegate_to: "{{ groups['control_plane'][0] }}"
  run_once: true

- name: Join cluster
  command: "{{ join_cmd_file.content | b64decode | trim }}"
  args:
    creates: /etc/kubernetes/kubelet.conf